* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.container {
  max-width: 600px;
  margin-top: 100px;

}

.todoBox {
  width: 500px;
  padding: 50px;
  background-color: dimgray;
}

.todoBox input {
  padding: 20px;
  box-shadow: none !important;
  border: none !important;
  display: inline-block;
  width: 282px;
}


.todoBox .add {
  background-color: rgba(234, 219, 8, 0.744);
  border: 0;
  text-transform: uppercase;
  padding: 20px 40px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}


.todoBox .text .ul {
  margin-top: 30px;
}

.todoBox .text .ul li {
  font-size: 25px;
  color: wheat;
  margin-bottom: 10px;
}

.todoBox .text .ul li i {
  color: rgb(229, 67, 67);
  font-size: 20px;
  margin-left: 10px;
}